---
export interface Props {
    title: string;
    className?: string;
    style?: string;
    opacity?: string;
    tracking?: string;
}

const {
    title,
    className = "",
    style = "",
    opacity = "opacity-60",
    tracking = "-0.06em",
} = Astro.props;

const lastLetter = title.slice(-1);
const repeatedLetters = Array.from({ length: 10 }, (_, i) => ({
    letter: lastLetter,
    opacity: Math.max(0.02, 0.2 - i * 0.018), // Start at 0.2, decrease by 0.018 each step
    translateY: -((i + 1) * 1.2), // Move each letter 1.2em higher
}));
---

<div
    class={`fixed left-16 bottom-11 -translate-y-1/2 -z-10 pointer-events-none ${className}`}
    style={`position: fixed; transform: translateY(-50%); will-change: auto; ${style}`}
>
    <h1
        class={`font-black text-[12em] transform -rotate-90 whitespace-nowrap origin-left opacity-[13%] min-[800px]:opacity-30 transition-opacity ease-in-out duration-500`}
        style={`transform: rotate(-90deg); letter-spacing: ${tracking};`}
    >
        {title}<span class="opacity-[65%] min-[800px]:opacity-50"
            >{title.slice(-1).repeat(10)}</span
        >
    </h1>
</div>
