---
import B from "./ui/B.astro";
import Button from "./ui/Button.astro";
import H1 from "./ui/H1.astro";
---

<H1> Nick Palenchar is a creative in tech.</H1>

<div>
  <p class="mb-5">
    He grew up in the performing arts, but a number of early learn-to-code
    groups such as
    <a href={"https://freecodecamp.org"} target="_blank">FreeCodeCamp</a>, and
    eventually
    <a href={"https://fullstackacademy.com"} target="_blank"
      >Fullstack Academy</a
    > inspired him to code for a living. To date he has {
      Math.floor(
        (Number(new Date()) - Number(new Date("2016-08-01"))) /
          (1000 * 60 * 60 * 24 * 365.25)
      )
    } years of experience working primarily on backend systems, and is currently
    at <a href="https://atlassian.com" target="_blank">Atlassian</a>.
  </p>
</div>
<div class="flex justify-center mb-16">
  <Button>Connect on LinkedIn</Button>
</div>
<p>
  <B as="h2" highlight={true}>Nick Palenchar is not on social media.</B> Ya dig?
</p>
