---
import B from "./ui/B.astro";
import Button from "./ui/Button.astro";
import H1 from "./ui/H1.astro";
---

<H1> Nick Palenchar is a creative in tech.</H1>

<div>
  <p class="mb-5">
    He grew up in the performing arts, but a number of early learn-to-code
    groups such as
    <a href={"https://freecodecamp.org"} target="_blank">FreeCodeCamp</a>, and
    eventually
    <a href={"https://fullstackacademy.com"} target="_blank"
      >Fullstack Academy</a
    > inspired him to code for a living. To date he has {
      Math.floor(
        (Number(new Date()) - Number(new Date("2016-08-01"))) /
          (1000 * 60 * 60 * 24 * 365.25)
      )
    } years of experience working primarily on backend systems, and is currently
    at <a href="https://atlassian.com" target="_blank">Atlassian</a>.
  </p>
</div>
<div class="flex justify-center mb-16 space-x-6">
  <Button>Connect on LinkedIn</Button>
  <Button>Considering Bootcamp?</Button>
</div>
<p>
  <B as="h2" highlight={true}>Nick Palenchar is not on social media.</B> He loves
  technology, but believes it best served as a tool for humans: to get things done,
  to share knowledge and—yes—connect with others (in the real world). But he is critical
  of the dark patterns employed by social media companies to profit off our content
  and addictive inclinations.
</p>
<p>
  He is a <a
    href="https://www.penguinrandomhouse.com/books/575667/digital-minimalism-by-cal-newport/"
    target="_blank">Digital Minimalist</a
  >, directly inspired by the works of Cal Newport. He is worried about
  addictive tech is creating a less empathetic and disconnected society.
</p>
<div class="flex justify-center mb-16 pt-4">
  <Button>Learn about Digital Minimalism</Button>
</div>
